/*body*/
html,
body {
  font-family: "Raleway", sans-serif;
}

/*hauteur de la balise de navigation*/
.sizeNav {
  height: 100px;
}

/*alignements des elements de la barre de navigation*/
.alignElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*taille de la balise ul de la barre de navigation*/
.sizeUl {
  width: 45%;
}

/*taille des balises li de la barre de navigation + style*/
.sizeLi {
  width: 14opx;
  height: 99px;
  list-style: none;
}

/*positionnement des balises li*/
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*alignement les balises li de la barre de navigation*/
.alignLi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*couleur lien hébergements et Activités de la barre de navigation*/
.colorLiens1-2 {
  color: black;
  text-decoration: none;
}

/*couleur lien s'inscrire de la barre de navigation*/
.colorLiens3 {
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}

/*couleur de la bordure des balises li*/
.bordureNav {
  border-top: 1px solid transparent;
}

/*effet hover de la bordure des balises li*/
.bordureNav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

/*effet hover de la bordure des balises li*/
.bordureNav:hover > a {
  color: #0065fc;
}

/*marge du logo reservia*/
.margeLogo {
  margin-bottom: 23px;
}
